header {
  border-bottom: 1px solid #979797;
}

.top-line {
  display: flex;
  align-items: center;
}

.profile-btn {
  border: none;
  background-color: transparent;
}

.site-nav {
  margin-left: 390px;
}

.site-nav-list {
  display: flex;
  gap: 60px;
}

.site-nav-list .item {
  padding-top: 24px;
  padding-bottom: 24px;

  font-size: 24px;
  line-height: 28px;
}
