:root {
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
  --button-bgc: linear-gradient(180deg, #af8cfc 0%, #6a45b9 100%);
  --button-hover: linear-gradient(180deg, #6a45b9 0%, #af8cfc 100%);
}

body {
  font-family: 'Corben', cursive;
}
