.container {
  max-width: 1280px;

  padding-left: 24px;
  padding-right: 24px;
  margin-right: auto;
  margin-left: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

label {
  margin-bottom: 8px;
}

input {
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;

  outline: none;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}

.submit-btn {
  height: 50px;

  margin-bottom: 16px;
}

.hidden {
  display: none;
}

.section {
  padding-top: 120px;
}

.section-title {
  margin-bottom: 30px;

  color: #1d1c1f;

  text-align: center;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.2;
}
